<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm" id="myTable">
        <thead>
            <tr>
                <th colspan="1">No.</th>
                <th colspan="1">Name</th>
                <th colspan="1" style="width:120px;">Launch Date</th>
                <th class="table-active">Target</th>
                <th class="table-active">Actual</th>
                <th>W0</th>
                <th>W1</th>
                <th>W2</th>
                <th>W3</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1</td>
                    <td>Newborn Baby Care : Feeding, Sleep &amp; Development</td>
                    <td>24 - 11 - 2017</td>
                    <td>20000</td>
                    <td>1500</td>
                    <td>80</td>
                    <td>160</td>
                    <td>160</td>
                    <td>160</td>
                </tr>
            <tr>
                <td>2</td>
                <td>Childhood Obesity: A Social Concern</td>
                <td>24 - 11 - 2017</td>
                <td>20000</td>
                <td>1500</td>
                <td>160</td>
                <td>160</td>
                <td>160</td>
                <td>160</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Role of Nutrition in Kids Health</td>
                <td>24 - 11 - 2017</td>
                <td>20000</td>
                <td>1500</td>
                <td>160</td>
                <td>160</td>
                <td>160</td>
                <td>160</td>
            </tr>
        </tbody>
    </table>
</div>